<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Dojo App"
        android:name="${applicationName}">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Flutter V2 Embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
            android:name="flutterExternalViewRegistration"
            android:value="true" />

    </application>

</manifest>

इसे यहाँ लगाना है:

android/app/src/main/AndroidManifest.xml

इसके बाद GitHub Actions में फिर build करो।

अगर तुम्हें Dojo का अपना app logo/icon लगाना है, तो बाद में "ic_launcher" resources सही तरीके से बनाकर वापस "android:icon="@mipmap/ic_launcher"" लगा देंगे। अभी पहले APK build पास कराना बेहतर है।
